footer {
  background-image: url(/assets/images/fundo-rodape.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.TextCopyright {
  justify-self: center;
  grid-area: TextCopyright;
}

footer small {
  color: white;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
