<div class="thought {{ thought.model }} ff-roboto-mono thought-p">
  <img src="../../../../assets/images/{{ thought.model }}.png" alt="">
  <p class="content"> {{thought.content}} </p>
  <p class="authorship"> {{thought.authorship}}</p>
  <div class="actions">
    <button class="edit-button">
      <img src="../../../../assets/images/icone-editar.png" alt="">
    </button>
    <button class="edit-button">
      <img src="../../../../assets/images/icone-excluir.png" alt="">
    </button>
  </div>
</div>
