<div class="thought {{ thought.model }} ff-roboto-mono" [ngClass]="widthThoughts()">
  <img src="../../../../assets/images/{{ thought.model }}.png" alt="">
  <p class="content"> {{thought.content}} </p>
  <p class="authorship"> {{thought.authorship}}</p>
  <div class="actions">
    <button class="edit-button" routerLink="thoughts/editThoughts/{{thought.id}}">
      <img src="../../../../assets/images/icone-editar.png" alt="">
    </button>
    <button class="delete-button" routerLink="thoughts/deleteThoughts/{{thought.id}}">
      <img src="../../../../assets/images/icone-excluir.png" alt="Icone de excluir pensamento">
    </button>
  </div>
</div>
